{% extends 'base.html.twig' %}

{% block body %}
    <div class="formularioAparte">
    {{ form_start(formulario) }}
     <div class="botonformulario">                                    
        <a href="{{ path('listar_usuarios') }}"><input class="boton" type="submit" value="Añadir"></a>
    {{ form_end(formulario) }}
    </div>
    </div>
{% endblock %}