{% extends 'base.html.twig' %}


{% block body %}

<main class="main-formulario">
    <table>
<table class="table">
  <thead class="table-head">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Email</th>
      <th scope="col">Ciudad</th>
       <th scope="col">ZIP</th>
    </tr>
  </thead>
  <tbody>
    {% for usuario in users %}
    <tr>

      <th scope="row">{{ usuario.id }}</th>
      <td><a href="{{ path('editar_usuario', {id: usuario.id}) }}"> {{ usuario.nombre }} </a></td>
      <td> {{ usuario.email }} </td>
      <td> {{ usuario.ciudad }} </td>
      <td> {{ usuario.zip }} </td>
    </tr>
    {% endfor %}

  </tbody>
</table>



    <button class="boton-nuevo-usuario"> <a href="{{ path('nuevo_usuario') }}">Crear Usuario</a> </button>
</main>

{% endblock %}