$Gray_1: #e3e2e2;
$White: #ffffff;
$Primary_2: #f9a519;
$Transparency_1: rgba(185, 184, 183, 0.7);
$Primary_3: #f09000;
$Gray_5: #4b4948;
$Gray_2: #b9b8b7;
$Danger: #eb5757;
$Secondary_1:#46c9ec;
$Secondary_2: #01b5e6;
$Gray_3: #8f8e8c;
$Primary_1: #ffce32;
$Transparency_2: rgba(47, 46, 45, 0.85);
$Secondary_3: #0184a8;
$Valid: #27ae60;
$Gray_4: #666462;
$Gray_6: #2f2e2d;

