@import "variables";
@import "grid";

header {
	height: 10vh;
	margin: 2% 8% 0%;
	background-color: blue;
}
.pegatina{
	padding: 2%;
}

body {
	font-family: 'Catamaran', sans-serif;
	background-color: #E0E0E0;
}
main {
	padding: 2%;
	margin: 0 8% 2%;
	background-color: white;
}
.titulosegundaseccion {
	text-align: center;
	margin: 2% 0 2%;
}
.box {
	background: $Transparency_2;
	height: 500px;
}
.gana {
	color: white;
	display: block;
	padding: 10%;
}
.playstore {
	margin-left: 10%;
}
.seccion2 {
	margin: 5% 0;
	
}
.formulario {
	height: 100%;
}
h1 {
	font-size: 48px;
	line-height: 56px;
}
h2 {
	font-size: 39px;
	line-height: 47px;
}

h3 {
	font-size: 31px;
	line-height: 40px;
}
p {
	font-size: 20px;
	line-height: 28px;
}
.seccion1 {
	background-image: url("./Images/jumbo.jpg");
	background-size: cover;

}
.botonseccion2 {
		border-radius: 80%;
		width: 36px;
		height: 36px;
		padding: 8px;	
		background: $Primary_2;
		border: 2px white;
		color: white;
		text-align: center;
		margin: 0% 8% 8% 40%;
}
 .botonseccion2 > p {
	 font-size: 1.5em;
	 font-style: bold;
 }
img {
	margin-left: 30%;
}
input {
	width: 90%;
	padding: 3%;
	margin-top: 5%;
	margin-bottom: 5%;
}
.tituloformulario {
	margin: 2% 0 5%;
}
.formulario {
	margin-left: 20%;	
	border: 1px solid grey;
	width: 80%;
	padding: 3%;
}

.esconderFormulario {
	display: none;
}

.karma {
	display: none;
}
.formularioEnviado {
	border: 1px solid $Valid;
	width: 60%;
	padding: 2%;
	display: block;
}
select {
	padding: 2%;
}
.caja {
	width: 10%;
}
.boton {
	width: 100px;
	height: 36px;
	background: $Primary_2;
	color: white;
	padding: 2%;
	border-radius: 5%;
}
.seccion4 {
	margin: 5% 0 5%;
}
.parrafoinferior {
	border: 1px solid grey;
	padding: 1%;
}

.seccion5 {
	height: 500px;
}
footer {
	background: $Gray_6;
	width: 100%;
	text-align: center;
}
footer > object {
	padding: 2% 0%;
}


@media screen and (max-width: 667px) {
	main {
		padding: 1%;
		margin: 0 8% 2%;
		background-color: WHITE;
	}

	img {
	display: none;
	}
	
	.seccion1{
		padding: 1%;
	}
	.titulosegundaseccion{
		padding: 4%;
	}
	.tituloseccion2{
		padding: 4%;
		text-align: center;
	}
	.parrafoseccion2{
		padding: 2%;
		text-align: center;
	}
	.formulario {
		width: 80%;
		margin: 0% 1% 0% 10%;
		text-align: center;
	}
	.botonseccion2 {
		border-radius: 50%;
		width: 36px;
		height: 36px;
		padding: 8px;	
		background: $Primary_2;
		border: 2px white;
		color: white;
		text-align: center;
		margin: 8% 8% 8% 8%;
		float: left;
	}
	
	.seccion2 {
		text-align: center;
		padding: 1%;
	}
	.parrafoseccion2 > p {
		display: inherit;
	}
	.tarjetas {
		padding: 5%;
	}
	.autor {
		padding: 5%;
	}
}