body {
  font-family: 'Catamaran', sans-serif;
  text-align: center;
}

.pegatina {
  height: 30%;
  margin: 0 10vw;
  background: green;
  text-align: left;
}

.seccion1 {
  background-image: url("jumbo.jpg");
  background-size: cover;
  height: 20%;
}

main {
  padding: 0 10% 5%;
}

.seccion2 {
  background: aquamarine;
  margin: 2% 0;
}

.filaseccion2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (2fr)[12];
      grid-template-columns: repeat(12, 2fr);
}

.columnaseccion2 {
  grid-column: span 4;
  margin: 2%;
  background: violet;
}

.seccion3 {
  background: aquamarine;
}

.filaseccion3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (2fr)[12];
      grid-template-columns: repeat(12, 2fr);
}

.columnaseccion3 {
  grid-column: span 6;
  background: salmon;
  padding: 1%;
  text-align: left;
}

.tituloseccion3 {
  height: 15%;
  background: blue;
  font-size: 100%;
  text-align: bottom;
}

input {
  width: 90%;
  height: auto;
}

.nombreformulario {
  height: 14%;
  background: turquoise;
}

.emailformulario {
  height: 14%;
  background: lavender;
}

.horarioformulario {
  height: 14%;
  background: turquoise;
}

.campoformulario {
  height: 14%;
  background: lavender;
}

select {
  height: 10%;
  width: auto;
}

.cajaterminos {
  height: 10%;
  background: turquoise;
  width: auto;
  text-align: left;
}

.cajaterminos > input {
  text-align: left;
}

.cajaterminos > label {
  margin-left: -44%;
}

.pieformulario {
  height: 15%;
  background: yellow;
  text-align: left;
}

.botonformulario > input {
  margin-left: 10%;
  margin-top: 5%;
  background: #f9a519;
  height: 60%;
  width: 40%;
}

@media screen and (max-width: 768px) {
  .columnaseccion2 {
    grid-column: span 6;
  }
  .columnaseccion3 {
    grid-column: span 6;
  }
  .columnaseccion3I {
    grid-column: span 6;
  }
}

@media screen and (max-width: 480px) {
  .columnaseccion2 {
    grid-column: span 12;
  }
  .columnaseccion3 {
    grid-column: span 12;
  }
  .columnaseccion3I {
    grid-column: span 12;
  }
}
/*# sourceMappingURL=ALTERNATIVE_styles.css.map */